doctype html
link(href="style.css" rel="stylesheet")
#status Connecting to the network...
#chat-windows
	.chat
		textarea
		button Send
		div
	.chat
		textarea
		button Send
		div

script(src="/node_modules/alameda/alameda.js" defer)
script(src="client.js" defer)
